* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 16px;
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.fluid-container {
    max-width: 100%;
    margin: 0 auto;
}



.logo {
    color: #FF0000;
    font-family: "Inter", sans-serif;
}

header {
    width: 100%;
}

header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header nav ul,
footer nav ul {
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 0px;
}

header nav ul li a,
footer nav ul li a {
    text-decoration: none;
    color: black;
}

header nav ul li a:hover {
    color: #FF0000;
}

.header-right {
    display: flex;
    gap: 8px;
    align-items: center;
}

.search-wrapper {
    display: inline-block;
    position: relative
}

.search-wrapper input {
    padding: 12px;
}

.search-wrapper:after {
    font-family: 'FontAwesome';
    content: '\f002';
    position: absolute;
    right: 12px;
    top: 14px;
}

.header-right-icons {
    font-size: 24px;
}

.movie-top-info {
    display: flex;
    gap: 32px;
}

.movie-top-info .left {
    display: flex;
    gap: 16px;
    align-items: center;
}

.gray-text {
    color: gray;
}

.black-text {
    color: black;
}

.stars i.full {
    color: #FF0000;
}

.age {
    border: 1px solid #FF0000;
    color: #FF0000;
    padding: 4px 8px;
    border-radius: 4px;
}

.time-info {
    align-self: center;
}

.movie-description {
    max-width: 50%;
}

.movie-bottom-info>div {
    margin-bottom: 8px;
    color: #FF0000;
    font-weight: 600;
}

button {
    background-color: #FF0000;
    color: white;
    padding: 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    width: 100px;
    text-align: left;
    border: 1px solid transparent;
}

button:hover {
    background-color: white;
    border: 1px solid #FF0000;
    color: #FF0000;
}

.single-movie h2 {
    font-size: 32px;
}

.movies-list .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movies-list .top a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.movies-list .item-info {
    display: flex;
    gap: 16px;
    align-items: center;
}

.movies-list-content {
    display: flex;
    gap: 16px;
    align-items: center;
    flex-wrap: wrap;
}

.movies-list .item {
    padding: 32px 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid black;
}

/** Footer Styles **/
.footer.container {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


footer .left {
    flex: 2;
}

footer .socials,
footer .app-links {
    flex: 1;
}

footer .socials img {
    width: 48px;
}

footer .app-links img {
    width: 150px;
}

footer .app-link-content {
    display: flex;
    gap: 16px;
}

/* Responsive CSS */
@media only screen and (max-width: 600px) {
    .header-content nav {
        order: 3;
        flex: 1;
    }

    .search-wrapper input {
        width: 100px;
    }

    .movie-description {
        max-width: 100%;
    }

    .stars i {
        font-size: 12px;
    }

    .footer.container {
        flex-direction: column;
    }

    footer .socials,
    footer .app-links {
        text-align: center;
    }

    footer .app-link-content {
        justify-content: center;
    }

    header nav ul,
    footer nav ul {
        justify-content: center;
    }
}